


.navbar .navbar-brand {
  color: rgba(255, 255,255, .85);
  font-size: 1rem;
  padding-top: .45rem;
}

.jumbotron {
  background: url('../img/jumbo_storm.jpg');
  background-size: cover;
  width: 100%;
  
}

.btn,
.active {
  transition: .4s;
}

.logo {
	font-family: 'Monoton', cursive;
	font-size: 100px;
	

}

.logo_2 {
	font-family: 'Amatic SC', cursive;
	font-size: 100px;
}

.heading {
	font-family: 'Anton', sans-serif;
}



@media only screen and (max-width: 200px) {
    .logo,
    .logo_2 {
        font-size: 2rem;
        display: inline-block;
        text-align: center;
    }

    .lead {
    	text-align: center;
    }
}




@media only screen and (max-width: 500px) {
    .logo,
    .logo_2 {
        font-size: 4rem;
        display: inline-block;
        text-align: center;
    }

    .lead {
    	text-align: center;
    }
}

@media only screen and (max-width: 800px) {
    .logo,
    .logo_2 {
        font-size: 4rem;
        display: inline-block;
        text-align: center;
    }

    .lead {
    	text-align: center;
    }
}